<.header>
  Editar Item de Configuração <%= @item_configuracao.descricao %>
</.header>

<.item_configuracao_form changeset={@changeset} action={~p"/itens_configuracao/#{@item_configuracao}"} />

<.back navigate={~p"/itens_configuracao"}>Voltar para a listagem</.back>
