<.header>
  Editar Regra de Evento de Criticidade <%= @regra_evento_criticidade.id %>
</.header>

<.regra_evento_criticidade_form changeset={@changeset} action={~p"/regras_eventos_criticidade/#{@regra_evento_criticidade}"} />

<.back navigate={~p"/regras_eventos_criticidade"}>Voltar para a listagem</.back>
