<.header>
  Criar nova Regra de Evento de Criticidade
</.header>

<.regra_evento_criticidade_form changeset={@changeset} action={~p"/regras_eventos_criticidade"} />

<.back navigate={~p"/regras_eventos_criticidade"}>Voltar para a listagem</.back>
