<.header>
  Editar Solução Nº<%= @solucao_contorno.id %>
</.header>

<.solucao_contorno_form changeset={@changeset} action={~p"/solucoes_contorno/#{@solucao_contorno}"} />

<.back navigate={~p"/solucoes_contorno"}>Voltar</.back>
