<.header>
  Editando Solução Nº<%= @solucao_contorno.id %>
  <:subtitle>Use esse formulário para gerenciar as Soluções de Contorno do banco de dados.</:subtitle>
</.header>

<.solucao_contorno_form changeset={@changeset} action={~p"/solucoes_contorno/#{@solucao_contorno}"} />

<.back navigate={~p"/solucoes_contorno"}>Voltar</.back>
