<.header>
  New Solucao contorno
  <:subtitle>Use this form to manage solucao_contorno records in your database.</:subtitle>
</.header>

<.solucao_contorno_form changeset={@changeset} action={~p"/solucoes_contorno"} />

<.back navigate={~p"/solucoes_contorno"}>Back to solucoes_contorno</.back>
