<.header>
  Editar Incidente <%= @incidente.id %>
</.header>

<.incidente_form 
  changeset={@changeset} 
  action={~p"/incidentes/#{@incidente}"} 
  itens_configuracao={@itens_configuracao}
  solucoes_contorno={@solucoes_contorno}
  regras_eventos_criticidade={@regras_eventos_criticidade} />

<.back navigate={~p"/incidentes"}>Voltar para a listagem</.back>
