<.header>
  New Incidente
  <:subtitle>Use this form to manage incidente records in your database.</:subtitle>
</.header>

<.incidente_form 
  changeset={@changeset} 
  action={~p"/incidentes"} 
  itens_configuracao={@itens_configuracao}
  solucoes_contorno={@solucoes_contorno}
  regras_eventos_criticidade={@regras_eventos_criticidade} />

<.back navigate={~p"/incidentes"}>Voltar para a listagem</.back>
