<.header>
  New Incidente
  <:subtitle>Use this form to manage incidente records in your database.</:subtitle>
</.header>

<.incidente_form changeset={@changeset} action={~p"/incidentes"} />

<.back navigate={~p"/incidentes"}>Back to incidentes</.back>
