<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <style>
    .usage-box {
      display: inline-block;
      width: 200px;
      height: 150px;
      border-radius: 10px;
      text-align: center;
      margin: 10px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      padding: 20px;
    }
    .processor-box {
      background-color: #4CAF50; /* Green */
    }
    .memory-box {
      background-color: #2196F3; /* Blue */
    }
    .storage-box {
      background-color: #F44336; /* Red */
    }
    .temperature-box {
      display: inline-block;
      width: 650px;
      height: 75px;
      border-radius: 10px;
      text-align: center;
      margin: 10px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      padding: 20px;
      background-color: #FF9800; /* Orange */
    }
    .box-label {
      padding: 5px;
      font-size: 16px;
      margin-top: 10px;
    }
    .gb-usage {
      font-size: 14px;
      color: #6c757d; /* Bootstrap muted text color */
    }
  </style>
</head>
<body>
  <div>
    <div class="usage-box processor-box">
      <%= @data["processador_percentual"] || "0.00" %>%<br>
      <span class="gb-usage"></span><br>
      <span class="box-label">Processador</span>
    </div>
    
    <div class="usage-box memory-box">
      <%= @data["memoria_percentual"] || "0.00" %>%<br>
      <span class="gb-usage"></span><br>
      <span class="box-label">Memória</span>
    </div>
    
    <div class="usage-box storage-box">
      <%= @data["armazenamento_utilizado_percentual"] || "0.00" %>%<br>
      <span class="gb-usage">(<%= @data["armazenamento_utilizado"] || "0.00" %> GB)</span><br>
      <span class="box-label">Armazenamento</span>
    </div>

    <%= if @data["processador_temperatura"] > 0 do %>
      <div class="temperature-box">
        <%= @data["processador_temperatura"] %>&deg;C<br>
        <span class="box-label">Temperatura</span>
      </div>
    <% end %>
  </div>
</body>
</html>